@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 247, 239);
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: bisque;
    height: 70px;
    width: 100%;
}

main {
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
}

hr {
    margin-bottom: 25px;
    width: 100%;
}

a {
    color: black;
    font-weight: 700;
}